.wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.img-box {
  position: absolute;
}

img {
  box-shadow: 0 0 4px #888;
}

.bounding-box {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 0 3px #abcdef inset;
  cursor: pointer;
}